<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='afterUploadCrop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='afterUploadMediaCrop.css') }}">
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Crop Suggestion</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="texti">
                <h1>Here's the best crop we found!</h1>
                <h3>Crop : WHEAT</h3>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima labore, repellendus nemo velit iusto, similique ad deserunt maiores sed harum laudantium. Optio vitae veniam nesciunt quibusdam minima, placeat nostrum qui rerum modi ad delectus tempora quidem enim neque ab tenetur consequuntur facilis ducimus aspernatur similique officiis dolor molestiae accusamus necessitatibus? Dolore saepe dicta quis illum reiciendis. Necessitatibus minus dolorem asperiores quia veritatis et perferendis dolorum fugiat ab, aut temporibus eligendi eius, esse at quo? Tempora, debitis. Accusantium iure eaque recusandae!</div>
            </div>
            <div class="image">
                <img src="{{url_for('static', filename='wheat_crop.jpg') }}" alt="" class="uploaded">
            </div>
        </div>
        <div class="upload">
            <label for="uploadImage" class="button">
              <a href="{{url_for('uploadCrop') }}" class="liink">
                Upload Another Image
              </a>
            </label>
        </div>
        <div class="home">
            <div class="returnToHome"><a href="{{url_for('home')}}" style="text-decoration: none">Return To Home</a></div>
        </div>
    </div>
</body>
</html>
